h4{
    color: cornflowerblue;
}
#id{

    color: chocolate;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
}
.box{

    border:2px solid crimson;
    border-radius: 10px;
    text-align: justify;
    box-shadow: 2px 10px 10px grey;

    margin-left: 20%;
    margin-right: 20%;
    padding-left: 20%;
    
}
.box button{

   
    margin-left: 10%;
    margin-right: 20%;
   
    
}